body {
  margin: 0px;
  padding: 0px;
}

/* footer {
  display: inline;
}
footer ul {
  position: absolute;
  bottom: 0;
  display: inline;
  list-style-type: none;
}

footer ul li {
  display: inline;
} */
